<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Violoncello.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Violoncello.Properties.Settings>
            <setting name="bookmarks" serializeAs="String">
                <value />
            </setting>
            <setting name="backgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="textColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fontPreference" serializeAs="String">
                <value>Segoe UI, 16pt</value>
            </setting>
            <setting name="query" serializeAs="String">
                <value>https://bing.com/search?q=</value>
            </setting>
            <setting name="remove_nav" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stayOnTopCheckState" serializeAs="String">
                <value>Unchecked</value>
            </setting>
        </Violoncello.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
